<%- include("header"); -%>

    <h1>Bubble Sort</h1>
    <form name="myform" action="result" onsubmit="pass()">
        <label for="bubbleSort">Enter the number of elements : </label>
        <input type="number" name="num" id="num" required><br>
        <label for="bubbleSort">Enter the elements : </label>
        <input type="text" name="elements" id="elements" placeholder="num1 num2 num3...numN"><br>
        <input type="submit" name="submit" value="Submit" required>
    </form>

    <script>
        function pass() {
            var n = document.myform.num.value;
            var x = document.myform.elements.value;
            if (x === '') {
                alert("Please enter a number");
                return false;
            } else {
                const lst = x.split(" ");
                if (lst.length == n) {
                    localStorage.setItem("elements", lst);
                }
                else {
                    alert("Please enter " + n + " numbers");
                    return false;
                }
                return true;

            }
        }
    </script>

    <%- include("footer"); -%>