<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubble Sort</title>
    <link rel="stylesheet" href="/app.css">
    <script src="bubble.js"></script>
</head>
<body>
   
  
  
    <div class="topnav">
    
      <a href="#home">Dry Run</a>
      <a href="#news">About US</a>
       
        
      </div>
      <div id="fp" style="float:left;height:850px;width:30%;">
<div class="ko" style="width:100%">
    <h3>Sorting</h3>

<hr>
<a href="#b">Bubble Sort</a>

<hr>
<a href="#home">Insertion Sort</a>
<hr>
<a href="#home">Quick Sort</a>
<hr>
<a href="#home">Merge Sort</a>
<hr>
<a href="#home">Cycle Sort</a>
<hr>
<h3>Searching</h3>
<hr>
<a href="#home">Linear Searching</a>
<hr>
<a href="#home">Binary Searching</a>
<hr>
<a href="#home">Jump Searching</a>
<hr>
<a class="l" href="#home">Linked List</a>
<hr>
<a class="l" href="#home">Stack</a>
<hr>
<a  class="l" href="#home">Queue</a>
<hr>
<a class="l" href="#home">Heap</a>
<hr>
</div>
</div>
  <div id="kp" style="margin-left: 30%;height:800px;width:70%;">
    <div id="o">
    <img src=<%= link %>>
    <div>
</div>
</body>
</html>