<%- include("header"); -%>

  <div class="topnav">
    <a href="home">Dry Run</a>
    <a href="about">About Us</a>
  </div>

  <div id="fp" style="float:left;height:850px;width:30%;">
    <div class="ko" style="width:50%">
      <h3>Sorting</h3>

      <hr>
      <a href="bubble">Bubble Sort</a>

      <hr>
      <a href="#home">Insertion Sort</a>
      <hr>
      <a href="#home">Quick Sort</a>
      <hr>
      <a href="#home">Merge Sort</a>
      <hr>
      <a href="#home">Cycle Sort</a>
      <hr>
      <h3>Searching</h3>
      <hr>
      <a href="#home">Linear Searching</a>
      <hr>
      <a href="#home">Binary Searching</a>
      <hr>
      <a href="#home">Jump Searching</a>
      <hr>
      <a class="l" href="#home">Linked List</a>
      <hr>
      <a class="l" href="#home">Stack</a>
      <hr>
      <a class="l" href="#home">Queue</a>
      <hr>
      <a class="l" href="#home">Heap</a>
      <hr>
    </div>
  </div>

  <div id="kp" style="margin-left: 30%;height:800px;width:70%;">
    <div id="o">
      <img alt="img">
      <div>
      </div>


<%- include("footer"); -%>
