body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: aliceblue;
}

/* Navigation */
nav{
  float: left;
  margin: 0;
  overflow:hidden;
  text-align: center;
}

nav ul{
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline-block;
  list-style-type: none;
}

nav > ul > li > a{
  color: #aaa;
  display: block;
  line-height: 2em;
  padding: 1.5em 2em;
  text-decoration: none;
}

.logo-img{
  float: left;
  position: relative;
  margin: 0px;
}
.bg-div{
 background:#333;
 overflow: hidden;
}
.ko {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  resize: both;
  overflow: auto;
}

.ko a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.ko a:hover {
  background-color: #555;
  color: white;
}

.l {
  font-weight: bold;
}

#kp {
  background-color: #555;
  align-items: baseline;

}

#o {
  padding: 100px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
